<main></main>
    <div class="d-flex col justify-content-center align-items-center">
        <h1>Recuperar contraseña</h1>
        <form action="/api/sessions/changepass" method="POST" class="form-group w-50">
            <input type="text" name="email" class="form-control" placeholder="ingrese el email">
            <input type="text" name="newPassword" class="form-control" placeholder="ingrese la nueva contraseña">
            <button>Enviar</button>
            
        </form>
    </div>
</main>