<main>
    <h1>Bienvenidos Socket</h1>
   
    
</main> 
<script src="/socket.io/socket.io.js"></script>
<script src="/assets/js/index.js"></script>
<script>
    const input = document.querySelector('#input')
</script>