<main></main>
    <div class="d-flex col justify-content-center align-items-center">
        <h1>Login</h1>
        <form action="/api/sessions/login" method="POST" class="form-group w-50">
            <input type="text" name="email" class="form-control" placeholder="ingrese el email">
            <input type="text" name="password" class="form-control" placeholder="ingrese el pass">
            <button>Enviar</button><br>
            <a href="/register">Register</a><br>          
      
        </form>
    </div>
</main>